<div class="layout">
  <div class="welcome">
    <h1 class="main-font center">Welcome to TReader!</h1>
  </div>
  <div class="info">
    <div class="text center main-font">
      'T' comes from word 'translate', so this site gives ability to read books and translate words by click-n-translate way!
    </div>
  </div>
  <div class="auth">
    <div class="text center main-font">
      Login and start using service for free:
      <div class="sn">
        <img (click)="login('google')" src="/assets/icons/google.svg" alt="google-icon">
      </div>
    </div>
  </div>
</div>