@import '~variables.sass'

.layout
  height: 100%
  width: 100%
  display: grid
  grid-template-areas: "header" "content"
  grid-template-rows: 5% 95%

.menu-expanded
  // grid-template-areas: "header" "menu"

.mobile-hidden
  // display: none

.header
  grid-area: header
  display: grid
  grid-template-columns: auto 2fr
  background-color: $mainColor

.credentials
  padding: 0 1vw
  background-color: #5a5a5a
  display: grid
  grid-template-columns: auto auto
  grid-gap: 1vw

.credentials__expanded
  grid-template-columns: auto auto 2fr

.initials
  // white-space: nowrap
  font-size: 4vw
  word-wrap: break-word
  color: white
  padding: 0 4px

.avatar
  display: grid
  justify-content: center
  align-items: center
  img 
    height: 4vh 
    width: 4vh

mat-icon
  color: white

.title
  display: flex
  justify-content: space-around
  align-items: center

.icon
  display: flex
  justify-content: space-around
  align-items: center

.menu
  grid-area: menu
  position: absolute
  top: 5vh
  bottom: 0
  width: 80vw
  box-shadow: 2px 2px 5px 0px grey

.menu-hidden
  // display: none

.content
  grid-area: content

.content-hidden
  // display: none

@media screen and (min-width: 600px)
  .layout
    display: grid
    grid-template-areas: "header" "content"
    grid-template-columns: 100%

  .menu-expanded
    grid-template-areas: "header header" "menu content"
    grid-template-columns: 30% 70%

  .header
    grid-template-columns: 30% 70%

  .menu-hidden
    display: none

  .content-hidden
    display: block
  
  .initials
    font-size: 2vw

@media screen and (min-width: $lgScreen)
  .header
    grid-template-columns: auto 2fr

  .menu-expanded
    .header
      grid-template-columns: 30% 70%!important
