<div class="layout" [ngClass]="{'menu-expanded': menuExpanded | async}">
  <div class="header">
    <div class="credentials is-button" (click)="triggerMenu()">
      <div class="grid-centry">
        <mat-icon>menu</mat-icon>
      </div>
      <div class="avatar">
        <img [src]="(user | async)?.photoURL" alt="">
      </div>
    </div>
    <div class="title main-font">
      TReader
    </div>
  </div>
  <div class="menu">
    <app-menu [expanded]="menuExpanded"></app-menu>
  </div>
  <div class="content" [ngClass]="{'content-hidden': menuExpanded | async}">
    <router-outlet></router-outlet>
  </div>
  <div class="nav">
    <app-nav></app-nav>
  </div>
</div>
