<div class="menu"
     [ngClass]="{'hidden': !(expanded | async)}" #menuEl>
  <div class="add_new grid-vertically">
    <div class="button is-button" (click)="addBook()" >Add book</div>
  </div>
  <div class="to-lib grid-vertically">
    <div class="button is-button" (click)="toLib()">
      To library
    </div>
  </div>
  <div class="logout grid-vertically">
    <div class="is-button button" (click)="logout()">Logout</div>
  </div>
</div>

<ng-container *ngIf="addNewViewed">
  <app-add-book (kill)="killAddBook($event)" (bookLoaded)="loadBook($event)"></app-add-book>
</ng-container>

<div class="triggerer" #triggererEl></div>
