.menu
  background-color: #f0f1ec
  height: 100%
  width: 100%
  display: grid
  grid-template-areas: "add-book" "to-lib" "." "logout"
  grid-template-rows: 10vh 10vh calc(100% - 30vh) 10vh
  box-shadow: 2px 2px 5px 0 grey

.smooth
  transition: all 200ms ease-in-out

.hidden
  transform: translateX(-100%)
  box-shadow: none
  z-index: 99

.add_new
  grid-area: add-book
  box-sizing: border-box
  padding: 12px

.to-lib
  grid-area: to-lib
  box-sizing: border-box
  padding: 12px

.logout
  grid-area: logout
  box-sizing: border-box
  padding: 12px

.grid-vertically
  display: grid
  align-content: center

.triggerer
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 10vw
  z-index: 1000

.button
  border-left: 2px solid black
  border-right: 2px solid black
  background-color: #c8faff
  text-align: center
  cursor: pointer
  box-sizing: border-box
  height: 100%
  padding: 8px 0
