<div class="layout">
  <div class="header">
    <h3 class="title">{{ bookTitle | async }}</h3>
    <h4 class="creds">{{ author | async }}</h4>
  </div>
  <div class="content" #contentEl [ngClass]="{'content-unwrap': menuOpened | async}" >
    <app-reader-renderer [sheet]="currentPageValue"></app-reader-renderer>
    <!-- <ng-container *ngFor="let w of (currentPageValue | async)">
      <div [innerHTML]="w" >

      </div>
    </ng-container> -->
  </div>
  <app-reader-navbar
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [nextPageHook]="nextPage.bind(this)"
    [prevPageHook]="prevPage"
    ></app-reader-navbar>
</div>

<span #cWidthMeasureEl class="invisible">
  <ng-container *ngFor="let u of uniqueChars">
    <span [innerHTML]="u" class="reader-font" ></span>
  </ng-container>
</span>
