@import '~variables.sass'

.layout
  display: grid
  grid-template-areas: "header" "content" "nav"
  grid-template-rows: 10% 80% 10%
  height: 100%
  width: 100%

.header
  grid-area: header

.title
  display: grid
  justify-items: center
  align-items: center

.creds
  display: grid
  justify-items: center
  align-items: center
  padding: 4px

.content
  grid-area: content
  overflow-y: hidden
  padding: 0 8px

.nav
  grid-area: nav
  background-color: $mainColor
  display: grid
  grid-template-areas: "prev total next"
  align-items: center
  justify-items: center

.prev
  grid-area: prev

.total
  grid-area: total

.next
  grid-area: next
