<div class="layout">
  <div class="header">
    <h3>{{ (book | async)?.author }}</h3>
    <h4>Current page: {{ currentPage | async }}/{{ totalPagesCount }}</h4>
  </div>
  <div class="content" #contentEl >
    <ng-container *ngFor="let w of (currentPageValue | async)">
      <div [innerHTML]="w" >
       
      </div>
    </ng-container>
  </div>
  <div class="nav">
    <div>
      <mat-icon (click)="previousPage()">code</mat-icon>
    </div>
    <div>
      <mat-icon (click)="nextPage()">fingerprint</mat-icon>
    </div>
  </div>
</div>