.layout
  display: grid
  grid-template-areas: "header" "content" "nav"
  grid-template-rows: 10% 80% 10%
  height: 100%
  width: 100%

.header
  grid-area: header

.content
  grid-area: content
  overflow-y: hidden
