@import '~variables.sass'

.pointer
  cursor: pointer

.hidden
  display: none;

.invisible
  visibility: hidden

.reader-font
  font-size: 16px

// Buttons
.is-button
  cursor: pointer
  &:active
    filter: contrast(120%)
  &:hover
    opacity: 0.8

.main-font
  font-family: $mainFont, serif

.title-font
  font-family: 'Oswald', sans-serif

.grid-centry
  display: grid
  justify-content: center 
  align-items: center
  min-height: 0
  min-width: 0

.horizontal-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  height: fit-content

@media screen and (min-width: $mdScreen)
  .horizontal-list

@media screen and (min-width: $lgScreen)
  .horizontal-list
    max-width: 60vw

.horizontal-centry
  // justify-content: space-around