/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import url('https://fonts.googleapis.com/css?family=Playfair+Display')
@import url('https://fonts.googleapis.com/css?family=Alegreya')
@import url('https://fonts.googleapis.com/css?family=Oxygen:300')
@import '~rules.sass'
@import '~variables.sass'
@import '~mixins.sass'

@include scrollbars(2px, silver)

*
  font-family: $mainFont

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden
  position: fixed

p
  margin: 4px 0
  font-size: 16px

h3, h4
  margin: 0
